*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    max-width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 44);
}
nav{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2rem;
}
nav img{
    width: 4rem;
    height: 4rem;
}
nav ul{
    display: flex;
    gap: 4rem;
}
nav ul a{
    font-size: 1rem;
    color: white;
}
nav ul a:hover{
    color: orangered;
    font-size: 1.3rem;
    transition: 0.5s;
    border-bottom: 2px solid white;
    transition: 0.5s;
}
button a:hover{
    color: orangered;
    transition: 0.5s;
}
#mobile{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
    align-items: center;
    /* background-color: white; */
}
#mobile .mobile1{
    width: 45%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.mobile1 img{
    width: 20rem;
    height: 40rem;
    border-radius: 1rem;

}
.mobile1 .descript h3{
    text-transform: capitalize;
    text-align: center;
    color: white;
}
.mobile1 .descript p{
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-size: 10px;
}
.mobile1 .descript{
    height: 20rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-bottom: 3px solid orangered;
    border-top: 3px solid orangered;
    border-right: 5px solid orangered;
    border-radius: 10px;
}
.mobile1 .buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.mobile1 .buy i{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
.mobile1 .buy button{
    width: 7rem;
    height: 2rem;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 10px;
}
.buy button a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
}
footer{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer  button{
    width: 7rem;
    height: 2rem;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 10px;
}
footer button a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}
@media (min-width: 0) and (max-width: 480px){
    nav{
        background-color: rgba(0, 0, 255, 0.699);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    nav ul{
        /* flex-direction: column; */
        gap: 2rem;
        /* padding-right: 2rem; */
    }
    ul a i{
        font-size: 1.2rem;
    }
    #mobile .mobile1{
        width: 90%;
        flex-direction: column;
        padding-top: 5rem;
    }
    .mobile1 .descript{
        height: 20rem;
        width: 20rem;
        border-left: 3px solid orangered;
        border-top: none;
        border-right: 3px solid orangered;
        border-bottom: 9px solid orangered;
    }
}


